@import "./variables";
@import "./mixins";
//@import "../node_modules/normalize-scss/sass/normalize/import-now";

@mixin header-height() {
  @media only screen and (max-width: 375pt) {
    height: 815pt;
  }
  @media only screen and (max-width: 1920pt) {
    width: 375pt;
    height: 815pt;
  }
}

@mixin centre($axis: "both") {
  position: absolute;
  @if $axis == "y" {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  @if $axis == "x" {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  @if $axis == "both" {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, 20%);
  }
}

@mixin size($width, $height, $top, $right, $left) {
  width: $width;
  height: $height;
  top: $top;
  right: $right;
  left: $left;
  position: fixed;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin md-icon-size($size: 24px, $top, $right) {
  font-size: $size !important;
  height: $size;
  width: $size;
  top:$top;
  right: $right;
  position: fixed;
}

@mixin font-source-sans($size: false, $colour: false, $weight: false,  $lh: false, $letter-spacing: false) {
  font-family: 'Source Sans Pro', Helvetica, Neue;
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
  @if $letter-spacing {letter-spacing : $letter-spacing}
}


html {
  background: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

app-root {
  @include header-height;
  background-color: #00b6a3;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  opacity: 100%;
}

.review-hdr {
  @include border-radius(28pt);
  @include size(340pt, 117pt, 20pt, 17pt, 18pt);
  background-color: #ffffff;
  color: #34c7a0;
  align-content: left;
}

.review-p1 {
  @include font-source-sans(34pt, #00b6a3, Bold);
  margin: 24pt 151pt 53pt 27pt;
}

.review-p {
  @include size(188pt, 19pt, 74pt, 125pt, 45pt);
  @include font-source-sans(16pt, #898694, Medium);
  opacity: 1;
}

.btn-container {
  display: flex;
  @include size(340pt, 60pt, 167pt, 7pt, 18pt);
  text-align: center;
  position: fixed;
}

.day-btn {
  @include border-radius(23pt);
  @include font-source-sans(16pt, #ffffff, Medium);
  background-color: #00b6a3;
  margin: 0 10pt 0 0;
  width: 60pt;
  height: 60pt;
  opacity: 0.7;
}
.day-btn-active {
  @include border-radius(23pt);
  @include font-source-sans(16pt, #00b6a3, Medium);
  background-color:  #ffffff;
  margin: 0 10pt 0 0;
  width: 60pt;
  height: 60pt;
  opacity: 1;
}

.op-el {
  @include border-radius(23pt);
  background-color: #ffffff;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 0.25;
  filter: alpha(opacity=25);
}

.day-btn a {
  color: #ffffff;
  text-decoration: none;
  margin: -65px auto;
  display: block;
}

.day-btn-active a {
  color: #00b6a3;
  text-decoration: none;
  margin: -65px auto;
  display: block;
}

$pages: steps, calories, activity;

@each $page in $pages {
  .#{$page} {
    @include border-radius(28pt);
    @include centre(x);
    width: 340pt;
  }
}

.activity {
  height: 184pt;
  margin: 257pt auto;
}

.steps {
  height: 93pt;
  margin: 456pt auto;
}
.calories {
  height: 93pt;
  margin: 564pt auto;
}

.calories-amount,
.steps-amount,
.activity-amount {
  @include font-source-sans(38pt, #ffffff, Bold);
  opacity: 1;
}

.act-pt1,
.st-pt1,
.cal-pt1 {
  @include font-source-sans(20pt, #ffffff, Medium);
  opacity: 1;
}

.act-pt,
.st-pt,
.cal-pt {
  @include font-source-sans(16pt, #ffffff, Medium);
  opacity: 0.7;
}

.material-icons.color_white {
  color: #ffffff;
}

.circle {
  @include border-radius(50%);
  background-color: #ffffff;
  position: fixed;
  z-index: 1000;
  opacity: 0.25;
  overflow: visible;
  filter: alpha(opacity=25);
}

.crl1 {
  @include size(40.98pt, 40.98pt, 25pt, 279pt, 20.02pt);
}

.crl2 {
  @include size(40.98pt, 40.98pt, 25pt, 279.02pt, 20pt);
}

.crl3 {
  @include size(40.98pt, 40.98pt, 25pt, 279.02pt, 20pt);
}

.mi-act {@include md-icon-size(27pt, 31.83pt, 285.83pt);}

.mi-stp {@include md-icon-size(27pt, 33pt, 287pt);}

.mi-cal {@include md-icon-size(27pt, 33pt, 287pt);}

.activity-amount{ @include size(170pt, 46pt, 94pt, 111pt, 76pt); }

.steps-amount{@include size(99pt, 45pt, 24pt, 30pt, 211pt); }

.calories-amount{@include size(65pt, 45pt, 24pt, 30pt, 263pt); }

.act-pt1{@include size(72pt, 24pt, 22pt, 192pt, 76pt); }

.st-pt1{@include size(55pt, 24pt, 22pt, 209pt, 76pt); }

.cal-pt1{@include size(79pt, 24pt, 22pt, 185pt, 76pt); }

.act-pt{@include size(62pt, 19pt, 49pt, 202pt, 76pt); }

.st-pt{@include size(36pt, 19pt, 49pt, 228pt, 76pt); }

.cal-pt{@include size(97pt, 19pt, 49pt, 167pt, 76pt); }